//переменные:

$button-color: #fe4e50;
$button-used: #a00709;
$font-headers-bold: 'Montserrat-bold';
$font-headers: 'Montserrat-regular';
$font-stack: 'Roboto', Tahoma, sans-serif;
$main-color: #fff;
